[submodule "qml-extras"]
	path = qml-extras
	url = git@github.com:papyros/qml-extras.git
[submodule "qml-material"]
	path = qml-material
	url = git@github.com:papyros/qml-material.git
[submodule "qml-desktop"]
	path = qml-desktop
	url = git@github.com:papyros/qml-desktop.git
[submodule "papyros-shell"]
	path = papyros-shell
	url = git@github.com:papyros/papyros-shell.git
